<h1>True or False Trivia Questions</h1>

<!-- fetching logic -->
<form action="<%= trivias_index_path %>" method="get">
  <label for="number">Enter number of trivia questions:</label>
  <input type="number" id="number" name="number" min="1" required>
  <button type="submit">Fetch Trivia</button>
</form>
<br>

<!-- Download as JSON or CSV logic -->
<% if session[:trivia_questions].present? %>
  <a href="<%= trivias_download_path(format: :json) %>" class="download_button">Download as JSON</a>
  <a href="<%= trivias_download_path(format: :csv) %>"class="download_button">Download as CSV</a>
<% end %>

<!-- table displaying logic -->
<% if session[:trivia_questions].present? %>
  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <% session[:trivia_questions].each do |item| %>
        <tr>
          <td><%= item["question"].html_safe %></td>
          <td><%= item["correct_answer"].html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No trivia questions available.</p>
<% end %>